<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="travel-page" data-layout="{{ page.layout }}">

    <header class="site-header">
      <div class="wrapper">
        <div class="travel-header-container">
          <a class="site-title site-title--brand" href="{{ "/blog/travel/" | relative_url }}">
            <img class="site-logo" src="{{ "/assets/brand/logo.png" | relative_url }}" alt="" aria-hidden="true" width="512" height="367">
            <span>unmanbearpig/travel</span>
          </a>
          
          <div class="travel-nav">
            <a href="{{ "/" | relative_url }}" class="travel-home-link" aria-label="Main Site">
              <span class="travel-home-link__text">Main Site</span>
            </a>
          </div>
        </div>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
